md-toolbar {
  min-height: 48px;
  max-height: 48px;
}
.left-sidebar-header {
  border-bottom: 1px solid #ccc;
}
.desk-item {
  background: #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
  &.active {
    background: rgb(76,175,80);
    color: #fff;
  }
  &:hover{
    background: #e0e0e0;
  }
}