.section-title{
    margin: 0;
}
.info_promo{
    padding: 20px 10px 5px 10px;
    border-bottom: 1px solid #ccc;
}
.promo_pad{
    padding: 5px 0;
}
.pull_left{
    float: left;
    line-height: 24px;
    width: 110px;
}
.promo_span.pull_left{
    color: #333;
    text-align: right;
    line-height: 24px;
    font-size: 12px;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 3px #ccc;
    background: #f0f0f0;
    padding-right: 5px;
}
.promotion_custom{
    margin-left: 110px;
}
.promo_time{
    color: #333;
    text-align: right;
    line-height: 24px;
    font-size: 12px;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 3px #ccc;
    background: #f0f0f0;
    padding-right: 5px;
    width: 38%;
}
.arrow-pull{
    float: left;
    line-height: 24px;
    width: 24%;
    text-align: center;
}
.list-table-menu{
    padding: 0 5px;
}
.pro_title{
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    color: #777;
    cursor: default;
}
.fa {
    cursor: pointer;
}

#mindow-listing-product .table-listing-bound {
    height: 420px;
    border-bottom: 1px solid #cccccc;
}

#mindow-listing-product .table-listing-bound .table-listing {
    margin-bottom: 0;
}
#listing-import .table-listing {
    margin-bottom: 0;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
}

input:focus {
    border-color: #24BDE2 !important;
}

.sub-list-cat {
    margin-left: 15px;
}

select#store_id {
    margin-right: 20px;
}

.section-content .grid_header {
    top: -28px;
}

#import-product {
    cursor: pointer;
}

.mwindow .section-title {
    margin: 0;
}

#mindow-listing-product input[type="submit"] {
    display: none;
}

#mindow-listing-product .grid_header {
    margin-bottom: 5px;
}

#mindow-listing-product .grid_header input.form-control[type="text"] {
    width: 134px;
}

#import-control {
    overflow: hidden;
    padding: 0 5px;
}

#import-control .row {
    margin-bottom: 5px;
}

#import-control .row-title {
    float: left;
    line-height: 24px;
    width: 100px;
}

#import-control .row-control {
    float: left;
}

#import-control .row-control select, #import-control .row-control input {
    line-height: 24px;
    height: 24px;
    width: 212px;
}

#listing-import {
    height: 310px;
}

#listing-import .table-listing-bound {
    height: 300px;
    border: 1px solid #ccc;
}

.footer-control .row {
    margin-bottom: 5px;
}

.footer-control .row-title {
    width: 80px;
    line-height: 24px;
    height: 24px;
}

.footer-control .row-control input {
    height: 24px;
    line-height: 24px;
}

.product-info .row {
    margin-bottom: 8px;
}

.product-info input {
    width: 120px;
}

.cat_name.cat_sub{
    margin-left: 20px;
}
.pro-image-thumb {
    border: 1px solid #ccc;
    height: 120px;
    overflow: hidden;
    text-align: center;
}

.pro-image-thumb img {
    max-height: 120px;
}

.info-money {
    padding-left: 15px;
}

.info-money .row:nth-child(1) {
    margin-bottom: 5px;
}

.info-money .row:nth-child(2) {
    margin-bottom: 2px;
}

.info-money .row:nth-child(2) input[type=radio] {
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 20px;
}

.info-money .row:nth-child(1) .row-title {
    width: 150px;
}

.info-money .row:nth-child(1) .row-control {
    color: #ac2925;
    font-weight: bold;
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    text-align: right;
}

.tooltip-info{
    float: left;
    overflow: hidden;
    line-height: 24px;
    margin-left: 5px;
}
.note-promo{
    width: 100%;
    height: 70px;
}
.notice-promo{
    line-height: 16px;
}
.left-column .table-listing-bound{
    height: 470px;
}
.modal-mini-content::-webkit-scrollbar{width:7px;}
.modal-mini-content::-webkit-scrollbar-thumb{background: #ddd; border-radius: 50px;}
.modal-mini-content::-webkit-scrollbar-thumb:hover{background: #999;}
.modal-mini-content table {width: 100%;}
.modal-mini-content table td {border:1px solid #ddd; text-align: center;font-size: 11px !important; padding: 5px; box-sizing: border-box;}


.footer-button .control-btn {
    border : 1px solid transparent;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 2px;
}
.footer-button .control-btn:hover {
    border : 1px solid #999;
}
.button_tab{
    margin-top: 3px;
}
.button_tab ul{
    padding: 0;
    margin: 0;
}
.button_tab ul li {
    list-style: none;
    float: left;
    margin-right: 20px;
}
.button_tab ul li a{
    float: left;
    border-left: 4px solid transparent;
    padding: 4px 10px;
    color: #a9a9a9;
    text-decoration: none;
    font-weight: bold;
}
.button_tab ul li a:hover{
    color: #333;
}
#button_tab_active{
    border-left: 3px solid #005fb3;
    color : #333;
}
.box-search{
    padding: 10px 0 3px 0 ;
}
.footer-button {
    background-color: #f0f0f0;
    box-shadow: 0 -1px 2px #d0d0d0;
}
.footer-button .control-btn {
    border : 1px solid transparent;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 2px;
}
.footer-button .control-btn:hover {
    border : 1px solid #999;
}
.button_tab{
     margin-top: 3px;
 }
.button_tab ul{
    padding: 0;
    margin: 0;
}
.button_tab ul li {
    list-style: none;
    float: left;
    margin-right: 20px;
}
.button_tab ul li a{
    float: left;
    border-left: 4px solid transparent;
    padding: 4px 10px;
    color: #a9a9a9;
    text-decoration: none;
    font-weight: bold;
}
.button_tab ul li a:hover{
    color: #333;
}
#button_tab_active{
    border-left: 3px solid #005fb3;
    color : #333;
}
.box-search{
    padding: 10px 0 3px 0 ;
}
/* css danh cho chi tiet phieu kiem ke*/
.inventory_span_left {
    color: #333;
    text-align: right;
    line-height: 24px;
    font-size: 12px;
    width: 160px;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 3px #ccc;
    background: #f0f0f0;
    padding-right: 5px;
    height: 29px;
    float: right;
}
.inventory_span_right {
    color: #333;
    text-align: right;
    line-height: 24px;
    font-size: 12px;
    width: 210px;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 3px #ccc;
    background: #f0f0f0;
    padding-right: 5px;
    float: right;
}
.inventory_info {
    padding: 10px;
    height: 90px;
}
.column_inventory{
    padding: 5px;
}
.inventory_lable {
    padding: 3px 0;
}
#content-column .table-listing-bound{
    height: 365px;
}
.form-inline select.form-control{
    width: 50% !important;
}