/* CSS class common */
.fl{float:left}
.fr{float:right}
.f13{font-size: 13px}
.margin-5b{margin-bottom: 5px}
.margin-10b{margin-bottom: 10px}
.margin-15b{margin-bottom: 15px}
.center{text-align:center}
.hidden{visibility: hidden}
.abs{position:absolute}
.rlt{position:relative}
.fix{position:fixed}
.ov{overflow: hidden;height: 100%;}
.bold{font-weight: bold;}
.block{display:block}
.align-right{text-align: right}
.align-center{text-align: center}
select,input{outline:none !important}
img{max-width:100%}

.form-control {
    padding: 0px 4px;
    height: 24px;
    font-size: 12px;
    border-radius: 0;
}
.form-control:focus {
    box-shadow : none;
}
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 5px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-left: 5px;
    padding-right: 5px;
}
.row {
    margin-right: -5px;
    margin-left: -5px;
}
.section-title{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
}
