<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {$load_header}
</head>
<body>
<div id="wrapper-full">
    {$error_msg}
    <div class="left-column_promo fl rlt col-xs-7">
        <div class="section-title">{$left_column_title}</div>
        <div class="section-control">{$left_control}</div>
        <div class="section-content column-wrapper">
            {$left_column}
        </div>
    </div>

    <div class="right-column_promo fl col-xs-5">
        <div class="section-title">{$right_column_title}</div>
        <div class="section-control">{$right_control}</div>
        <div class="section-content column-wrapper">
            {$right_column}
        </div>
    </div>

    <div class="footer-control col-xs-12">{$footer_control}</div>
    {$custom_script}
    <div id="modal"></div>
    <div id="overlay"></div>
    <div id="m-window"></div>
    <div id="loading">
        <i class="fa fa-spin fa-cog"></i>
        <span id="loading-text">Đang tải dữ liệu...</span>
    </div>

</div>
</body>
</html>