<div class="mwindow-wrapper">
    <div class="mwindow-header">
        <label>{$mindow_title}</label>
        <span class="mwindow-close">&times;</span>
    </div>
    <div class="content-mini-window">
        <div class="col-xs-4">
            {$left_column}
        </div>
        <div class="col-xs-8 pull-left">
            {$right_column}
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 footer-button">
            {$footer_button}
        </div>
    </div>
</div>
{$custom_script}