<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {$load_header}
</head>
<body>
<div id="wrapper">

    <div class="left-column_modal  fl rlt">

        <div class="column-content-left">
            {$listing_menu}
        </div>
    </div>
    <div class="right-column_modal fl">

        <div class="column-wrapper modal-column-right">
            <strong>Khi bắt đầu sử dụng bàn ăn. Hệ thống sẽ gọi thực đơn này vào hóa đơn</strong>
            {$right_column}
        </div>
    </div>
    {$custom_script}
    <div id="modal"></div>
    <div id="overlay"></div>
    <div id="m-window"></div>
    <div id="loading">
        <i class="fa fa-spin fa-cog"></i>
        <span id="loading-text">Đang tải dữ liệu...</span>
    </div>
</div>
</body>
</html>
