<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {$load_header}
</head>
<body>
<div id="wrapper-full">
    <div class="col-xs-12" id="top_control">
        {$top_control}
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12" id="content-column">
        {$content_column}
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 footer-button">
        {$footer_control}
    </div>
    <script>
        var array_date_time = {$array};
        var title = {$title};
    </script>
    {$custom_script}
    <div id="modal"></div>
    <div id="overlay"></div>
    <div id="m-window"></div>
    <div id="loading">
        <i class="fa fa-spin fa-cog"></i>
        <span id="loading-text">Đang tải dữ liệu...</span>
    </div>
</div>
</body>
</html>